@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --title: 'Oswald', sans-serif;
    --subtitle: 'Poppins', sans-serif;
    --text:  'Roboto', sans-serif;
}

body{
    background-image: url('../images/bg.jpg')  ;
    background-size: cover ;
    color: blanchedalmond;
}


.header{
    width: 100%;
    height: 4.8rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid darkgray;
}

.header h1{
    font-size: 2.5rem;
    font-family: var(--title);
    margin-left: 2rem;
}

.header h1 span:nth-child(2){
    color: darkred;
}

.menu-toglle{
    width: 2.7rem;
    height: 2.7rem;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 5rem;
}

.menu-toglle div{
    content: "";
    background-color: whitesmoke;
    width: 80%;
    height: 0.4rem;
    align-self: center;
    border-radius: 15px;
}

.main-menu{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    height:calc(100vh - 4.8rem) ;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url('../images/bg_menu.jpg');
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

.show-menu .main-menu{
    opacity: 1;
    visibility: visible;
}

 .main-menu ul{
    height:calc(100vh - 4.8rem) ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

 .main-menu ul li{
    font-size: 2.5rem;
    font-family: var(--subtitle);
    font-weight: 900;
    color: white;
    text-align: center;
}

 .main-menu ul li:hover{
    cursor: pointer;
    border-bottom: whitesmoke 3px solid;
}

.show-menu #linha2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #linha1{
    transform: rotate(45deg)  translate(0.6rem, 0.45rem );
}

.show-menu #linha3{
    transform: rotate(-45deg) translate(0.6rem, -0.45rem )
}

.main{
    width: 100%;
    height: calc(100vh - 4.8rem);
    display: flex;
    justify-content: space-around;
}


.conteudo{
    margin-top: 7rem;
    color: black;
}

.conteudo h2 span{
    font-family: var(--subtitle);
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 2px;
}

.conteudo h2:nth-child(2){
    margin-bottom: 2rem;
}

#diferente{
    color: darkred;
}

.logo{
    font-size: 5.5rem;
    font-family: var(--subtitle);
    margin-top: 6rem;
    position: relative;
    text-align: center;
    color: whitesmoke;
}

.logo h2:nth-child(1){
    margin-bottom: -5rem;
}

.logo h2:nth-child(2){
    color: darkred;
}

.main .logo::before{
    content: "";
    width: 27rem;
    height: 27rem;
    left: -2.7rem;
    top: -4rem;
    background-color: rgb(8, 8, 8);
    position: absolute;z-index: -1;
    border-radius: 50%;
}